.FollowersCard {
    width: 100%;
    border-radius: .7rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.follower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follower>div {
    display: flex;
    grid: 10px;
}

.FollowerImg {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name>span:nth-of-type(1) {
    font-weight: bold;
}

.fc-button {
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}